<% include ./common/head.ejs%>

<form class="">
    <label>用户名: <input type="text" id="username" /></label>
    <label>密码: <input type="text" id="password" /></label>
    <label>邮件: <input type="text" id="email" /></label>
    <button type="submit">注册</button>
</form>

<% include ./common/footer.html%>